<header class="navbar">
  <div class="logo">
    <img src="/assets/APPLET LOGO.png" alt="logo">
  </div>

  <nav>
  <a routerLink="/">Home</a>
  <a routerLink="/about">About</a>
  <div class="dropdown">

  <a routerLink="/services">Services</a>

  <i
    class="fa-solid fa-chevron-down dropdown-icon"
    (click)="toggleServices()">
  </i>

  <div class="dropdown-menu" *ngIf="showServices">
    <a href="#">Web Development</a>
    <a href="#">App Development</a>
    <a href="#">Digital Marketing</a>
    <a href="#">Technical Support</a>
  </div>

</div>
  <a routerLink="/contact">Contact</a>
</nav>

  <button class="info">Let's talk
            <i class="fa-solid fa-arrow-right"></i>
  </button>
  
</header>